

.containerInfo {
  display:flex;
  width:100%;
}
.info {
  width:50%;
  padding: 10px;
  margin:10px;
  border-radius: 15px;
  box-shadow: 0 6px 15px 0 rgba(212, 220, 226, 0.5), 0 2px 13px -3px rgba(230, 241, 254, 0.5);
  height:200px;
}
.detail {
  width:100%;
  padding-top:10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top:50px;
  border-radius: 15px;
  box-shadow: 0 6px 15px 0 rgba(212, 220, 226, 0.5), 0 2px 13px -3px rgba(230, 241, 254, 0.5);
  height:auto;
}
.tablePayments {

    width:100%;
    border-collapse:separate;
    border-spacing: 0 1em;

}
.itemContainerDetail {
  background-color: #edeff2;
  border-radius: 20px;
  width:100%;
  height: 80px;
  font-family: "Inter", serif;
  margin-bottom: 10px;
}