

.containerList {
  width: 1000px;
  height: 700px;
  margin: 0 auto;
}
.LoansList {
  width: 381px;
  height: 29px;
  font-family: "Inter", serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #60cf80;
}
.tableLoans {
  width:100%;
  border-collapse:separate;
  border-spacing: 0 1em;
}
.textAlignRight {
  text-align: right !important;
}
paddingRight10 {
  padding-right: 10px !important;
}
.itemContainer {
  width:100%;
  height: 80px;
  font-family: "Inter", serif;
  border-radius: 10px;
  box-shadow: 0 6px 15px 0 rgba(212, 220, 226, 0.5), 0 2px 13px -3px rgba(230, 241, 254, 0.5);
  margin-bottom: 10px;
}
.headerTitle {
  text-align: left;
  padding-left:10px;
  padding-right: 10px;
  height: 17px;
  font-family: "Inter", serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #a0a0a0;
}
.tdLoan {
  padding-left:10px;
  padding-right:  10px;
}
.flexTdLoan {
  display: flex;
  flex-direction: column;
}
.spanTd {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3e3a46;
}
.spanLoanId {
  color: #4585c4;
  font-weight: 500 !important;
  margin-top:5px;
}
.statusContainer {
  padding: 5px 15px;
  border-radius: 20px;
}